@media (min-width: 0px) {
  #slideable {
    height: 96%;
    width: 96%;
    left: 2%;
    right: 2%;
  }
  body {
    font-size: small;
  }
}
@media (min-width: 700px) {
  #slideable {
    height: 80%;
    width: 80%;
    left: 10%;
    right: 10%;
  }
}
@media (min-width: 1120px) {
  #slideable {
    height: 50%;
    left: 25%;
    right: 25%;
    width: 50%;
  }
}
#slideable {
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  webkit-transition: all 2s ease;
  moz-transition: all 2s ease;
  ms-transition: all 2s ease;
  o-transition: all 2s ease;
  transition: all 2s ease;
}

#answer:hover {
  background-color: #feaf9b;
}
#companyNameInput {
  bottom: 40%;
  right: 10%;
}
#descriptionDiv {
  position: absolute;
  top: 50%;
  height: 50%;
  margin-left: 20%;
  padding: 10px;
}
#firstNameInput {
  position: absolute;
  left: 10%;
  top: 20%;
}
#emailInput {
  position: absolute;
  top: 45%;
  left: 10%;
}
#confirmEmailInput {
  position: absolute;
  top: 45%;
  right: 10%;
}
#inputs {
  background-color: #ededed;
  border-radius: 20px;
  bottom: 0px;
  height: 68%;
  padding: 10px;
  position: relative;
  width: 100%;
}
#jobTitleInput {
  bottom: 40%;
  left: 10%;
}
#question {
  display: inline;
  padding: 20px;
}
#questionHeader {
  position: absolute;
  height: 20%;
  width: 100%;
}
#questionHeader button {
  position: absolute;
  width: 15%;
  height: 30%;
  top: 25%;
  left: 80%;
  background-color: #fc5e36;
  text-align: center;
  border: solid #fc5e36;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

#questionContent {
  position: absolute;
  height: 80%;
  top: 20%;
  width: 100%;
  border-radius: 10px;
  background-color: #ededed;
}
#questionTitle {
  position: absolute;
  height: 20%;
  width: 90%;
  top: 5%;
  left: 5%;
  border-radius: 10px;
  background-color: #dbdbdb;
}
#questionNumber {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fc5e36;
  text-align: center;
  padding-top: 2px;
}
#questionText {
  position: absolute;
  left: 70px;
  font-weight: bold;
  padding: 10px;
}
#answer:hover {
  background-color: #feaf9b !important;
}

#submitForm {
  background-color: #fc5e36;
  bottom: 15%;
  width: 20%;
  right: 5%;
  border: solid #fc5e36;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  text-align: center;
  position: absolute;
  color: white;
}

#surnameInput {
  right: 10%;
  top: 20%;
}
#title {
  position: absolute;
  background-color: #fc5e36;
  border-radius: 100px;
  left: 10%;
  width: 90%;
  height: 100%;
  margin-bottom: 0;
  text-align: center;
  justify-content: center;
  z-index: 1;
}
#title h1 {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: large;
  z-index: 1;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
}
button #back {
  display: inline !important;
}
form {
  height: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.inputDiv {
  background-color: #dbdbdb;
  border: none;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 30%;
  height: 30px;
}
#header {
  position: relative;
  margin-bottom: 2%;
  height: 30%;
}
.inputs {
  position: absolute;
  background-color: #dbdbdb;
  border: none;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
#titleDiv {
  position: absolute;
  width: 100%;
  height: 50%;
}
#titleDownwardSlide {
  position: absolute;
  transform: rotate(-60deg);
  border-radius: 50px;
  width: 150px;
  left: -60px;
  height: 80px;
  bottom: -40px;
  background-color: #fc5e36;
  z-index: 0;
}
.upwardSlide {
  position: absolute;
  transform: rotate(60deg);
  border-radius: 20px;
  width: 50px;
  height: 30px;
  left: -20px;
  top: -15px;
  background-color: #dbdbdb;
}
.inputs:focus {
  background-color: #feaf9b;
  outline: none;
}
.inputs:focus ~ div {
  background-color: #feaf9b !important;
  outline: none;
}
#submitForm:hover {
  background-color: #feaf9b;
  cursor: pointer;
}
#submitForm:focus {
  background-color: #feaf9b;
  outline: none;
}
#locationHeader {
  position: relative;
  width: 100%;
  height: 20%;
  justify-content: center;
}
#locationHeader button {
  position: absolute;
  width: 15%;
  height: 30%;
  top: 25%;
  left: 80%;
  background-color: #fc5e36;
  text-align: center;
  border: solid #fc5e36;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}
#locationHeader button:hover {
  background-color: #feaf9b;
}

#locationInputs {
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: #dbdbdb;
  border-radius: 20px;
  padding: 20px;
}
#hello {
  width: 100%;
  height: 15%;
}
#locationInput {
  width: 100%;
  height: 15%;
  display: inline;
}
#locationInput h3 {
  width: fit-content;
  display: inline;
  margin: 0;
}
#locationInput i {
  display: inline;
  cursor: pointer;
}
#locationDropdown {
  position: relative;
  width: 100%;
  height: 55%;
}
#locationDropdown div {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 45%;
  background-color: white;
  opacity: 0.7;
  transition-timing-function: ease;
  border: 2px;
  overflow-y: scroll;
}
#locationDropdown div input {
  display: block;
  width: 100%;
  padding: 5px;
}
#locationDropdown div a {
  color: black;
  display: block;
  width: 100%;
  padding: 2px;
  cursor: pointer;
  border: solid #ededed;
}
#locationDropdown div a:hover {
  background-color: #ededed;
}
#locationNext {
  width: 100%;
  height: 15%;
}
